<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="psdev_paymentwithzipcode_range_listing_data_source" xsi:type="string">Psdev\Paymentwithzipcode\Model\ResourceModel\Range\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Psdev\Paymentwithzipcode\Model\ResourceModel\Range\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">psdev_paymentwithzipcode_range</argument>
            <argument name="resourceModel" xsi:type="string">Psdev\Paymentwithzipcode\Model\ResourceModel\Range</argument>
        </arguments>
    </virtualType>
</config>